.MAINIAContainer {
    width: 100vw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.131);
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    align-content: center;
  }
  
  .Intern {
    background-color: #ffffffa4;
    min-height: 82vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    border: 0.4vh solid #ccc;
    border-radius: 0.3vh;
    padding: 0.5vh;
    align-items: center;

  }

  
  .ChatWindow {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 70vw;
    
  }
  
  .Message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
  }
  
  .UserMessage {
    background-color: #e6f7ff;
    align-self: flex-end;
    width: 60vw;
  }
  
  .GPTMessage {
    background-color: #f1f1f1;
    align-self: flex-start;
    width: 60vw;
  }
  
  .InputContainer {
    display: flex;
    padding: 10px;
    width: 80vw;
  }
  
  .InputContainer input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .InputContainer button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .PreviousConversations{
    width: 100vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
  }


  @media (min-width: 800px) {
    .Intern {
      width: 93.5vw;
      margin-left: 10.5vh;
      align-items: center;
    }
    .MAINIAContainer{
      width: 100vw;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.131);
      display: flex;
      align-items: flex-start;
      min-height: 90vh;
      justify-content: center;
      align-content: center;

    }
    .InputContainer{
      width: 80vw;
    }
    
  }