#StadisticsComponent{
    width: 100vw;
    margin-left: 0vw;
    margin-top: 10vw;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
}

.StadisticItem{
    width: 500px;
    
}