coverage
boto3
django-storages
djangorestframework
python-decouple
Django
django-cors-headers
django-rest-swagger
coreapi
urllib3
psycopg2
drf-yasg
PyJWT
pillow
django-cleanup
pycryptodome
geoip2
coverage
django-allauth
dj-rest-auth
cryptography
djangorestframework-simplejwt
