@font-face {
    font-family: 'Apple';
    src: url('../fonts/AppleGaramond.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1000px) {
    #LoginSquare {
        font-size: 1rem;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ComboTextGoogle{
        /* padding-bottom: 30px; */
        transform: translateY(-4px);
    }

    .Motiondiv:focus {
        outline: none;
    }

    .Motiondiv {
        width: 40px;
        height: 40px;
        display: absolute;
    }

    #LottieContainer1 {
        transform: translateY(5px);
        position: relative;
    }

    #LottieContainer2 {
        position: absolute;
        transform: translateY(-30px);
    }

    #SessionContainer {
        height: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #FormularyContainer{
        transform: translateY(-5vh);
    }

    .GoogleButton {
        border: 0px;
        cursor: pointer;

        background-color: rgba(207, 206, 205, 0.884);
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
        transform: translateY(-8vh);
    }
    #FaGoogle{
        font-size: 0.1vh;
        width: 10px;
        height: 10px;
    }

    #UserLab-Cont {
        position: relative;
    }

    #LoginText, #RegisterText{
        font-size: 6vh;
        transform: translateY(-6vh);
        color: rgb(16, 2, 70);
    }

    #LogRegBox {
        display: grid;
        height: 55vh;
        width: 55vw;
        grid-template-columns: 1fr 1fr;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        box-shadow: 0.2vw 0.2vw 2vw 0.2vw rgba(0, 0, 0, 0.527);
        border-radius: 0.9vw;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }

    #MotionContainer {
        height: 40px;
        padding-left: 20vw;
        padding-right: 20vw;
    }

    #RegisterContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #RegisterText{
        font-size: 6vh;
    }

    #Password-Input {
        width: 18vw;
        font-size: 3vh;
        font-family: "Apple";
        border: 0px;
        border-top-left-radius: 0.2vw;
        height: 4.8vh;
        background-color: rgba(0, 0, 0, 0.116);
        padding-right: 1vw;
        
        margin-top: 1vh;

        padding-left: 1vw;
    }
    #Password-Input:focus{
        outline: none;
        
    }
    .input-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(6, 0, 34);
      }

    .input-underline2 {
    position: absolute;
    bottom: 30;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(6, 0, 34);

    }

    #Username-Input {
        width: 18vw;
        font-size: 3vh;
        font-family: "Apple";
        border: 0px;
        border-top-right-radius: 0.2vw;
        height: 4.8vh;
        background-color: rgba(0, 0, 0, 0.116);
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #Username-Input:focus {
        outline: none;
        outline-style: hidden;

    }

    .SubmitFormButtom {
        border: 0px;
        background-color: rgb(1, 0, 32);
        color: white;
        font-weight: bold;
        height: 5vh;
        border-radius: 50px;
        font-size: 2vh;
        cursor: pointer;
        margin-top: 5vh;
        width: 12vw;
        font-family: "Apple";
    }
    .Disabled{
        /* background-color: gray; */
        cursor: not-allowed;
        
    }

    .SubmitFormButtom:focus {
        outline: none;
    }


}


#FaGoogle{
    font-size: 0.1vh;
    width: 2vh;
    height: 2vh;
}
