#Sidemenucontainer{
    position: absolute;
    height: 100vh;
    width: 0px;
    background-color: var(--color4);
    transition: 0.15s ease;
    z-index: 1;
}

.Active{
    width: 20vw !important;
}