#Sidemenucontainer{
    position: absolute;
    height: 100vh;
    width: 66px;
    background-color: #efefefe7;
    transition: 0.15s ease;
    z-index: 1;
    display: grid;


}

@font-face {
    font-family: 'BabyPanda';
    src: url('../../fonts/Baby\ Panda.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.Active{
    /* padding-right: 14vw ; */
    width: 22vw !important; 
    content: lol;
    
}
.buttomtext{
    display: flex;
    flex-wrap: wrap;    
    align-content: center;
    
    opacity: 0;
    font-size: 1.2rem;
    height: 30px;
    margin-left: 3vw;
    font-family: "BabyPanda";
    text-transform: uppercase;
    transform: translateX(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease !important;

}

.buttomtext-active{
    display: flex !important;
    opacity: 1;
    transform: translateX(0px) !important;
    @media screen and (max-width:680px) {
        opacity: 0;
        display: none;
        transition: opacity 0s ease, transform 0s ease !important;

    }

}

@media screen and (max-width:680px) {
    #Sidemenucontainer{
        width: 0px;
    }
    #ItemsContainer{
        width: 0px;
    }

    .buttondiv{
        visibility: hidden;
    }

    .Active{
        width: 66px !important ;
    }

}



.buttondiv{
    border: 0px;
    background-color: #efefefe7;
    user-select: none;
    display: flex;
    width: 66px;

    padding-top: 3vh;
    padding-bottom: 3vh;
}

.buttomitems{
    display: flex;
    margin-left: 14px;
    
}

.ButtonActive{
    width: 22vw;
}




@media (max-width:680px){
    .ButtonActive{
        width: 66px;
    }

    .buttomtext{
        display: none;
        content: none;
    }

    .buttomitems{
        display: block !important;
        margin-left: 10px;
    }
}





.Active *{
    visibility: visible ;
    
}

#ItemsContainer{
    display: flex;
    /* padding-left: 20px; */
    justify-content: left;
    flex-direction: column;
    width: 100%;
    user-select: none;
}



#ItemsContainer:first-child{
    padding-top: 80px;

}

.itemlogo{
    height: 30px;
    user-select: none;
    display: flex;
    
    cursor: grab;
    width: 30px;

    /* margin-bottom: 30px; */

}

.buttondiv:hover > *{
    /* fill: wheat; */
    
    
    color: rgb(4, 78, 23) ;
}

#Sidemenucontainer:first-child{
    /* padding-top: 90px; */
}