.ThesisContainer{
    width: 50vw;
    display: grid;
    /* border-top: 1px solid #D7D8DA; */
    border-bottom: 1px solid #D7D8DA;
    background-color: rgba(89, 151, 202, 0);
    
}
@font-face {
    font-family: 'Apple';
    src: url('../../fonts/AppleGaramond.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


#FileComponent{
    /* padding-top: 5vh; */
    display: flex;
    justify-content: center;
    font-family: "Apple";
    align-content: center;
    margin-bottom: 30px;
}

#totaldocumentscontainer{
    padding-top: 12vh;
    height: 88vh;

}



#kind{
    display: flex;
    align-content: center;
    font-size: 12px;
    padding-top: 2vh;
    color: #67696E;
}

#logo{
    padding-top: 0.6px;
    color: #FAB73C;
    /* padding-left: 1px; */

}

.Title{
    display: flex;
    padding-top: 8px;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0.1px 0.1px black;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 13px;
}

.DownloadButton{
    display: flex;
    margin-top: auto;
    text-decoration: none; /* Sin subrayado */
    color: #6591D9;
    padding-bottom: 14px;
    font-size: 0.8rem;

}

#DownloadText{
    padding: 10px;
    text-decoration: none; /* Sin subrayado */
    border: 1px solid #6591D9;
    border-radius: 5px;
    color: #6591D9;
    display: flex;
    box-shadow: 1px 1px 5px 1px#6591d94b;
    font-size: 0.8rem;
    
    
    
}

.icondoc{
    padding-top: 0.5px;
    padding-right: 5px;
}

.Description{
    font-size: 0.8rem;
    text-align: left;
    color: rgb(56, 56, 56);
    padding-bottom: 15px;
}

.Author{
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 15px;
}

.Year{
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Status{
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
}


#authorname{
    text-transform: capitalize;
    
}