.ThesisContainer {
    width: 70vw;
    display: grid;
    border-bottom: 1px solid #D7D8DA;
    background-color: rgba(89, 151, 202, 0);
}

@font-face {
    font-family: 'Apple';
    src: url('../../fonts/AppleGaramond.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#FileComponent {
    display: flex;
    justify-content: center;
    font-family: "Apple";
    align-content: center;
    margin-bottom: 4vh;
}

#totaldocumentscontainer {
    padding-top: 12vh;
    display: flex;
}

#kind {
    display: flex;
    align-content: center;
    font-size: 0.8rem;
    padding-top: 2vh;
    align-items: center;
    color: #67696E;
}

.Views{
    display: flex;
    align-items: center;
    margin-left: auto;
}

#Eye{
    padding-top: 0.1vh;
    margin-right: 0.5vh;
}

#logo {
    padding-top: 0.05vw;
    color: #FAB73C;
}

.Title {
    display: flex;
    padding-top: 13px;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0.1px 0.1px black;
    text-align: left;
    padding-bottom: 10px;
}

.DownloadButton {
    display: flex;
    margin-top: auto;
    text-decoration: none;
    color: #6591D9;
    padding-bottom: 14px;
    font-size: 0.8rem;
}

.DownloadButton:hover{
    color:#000000
}

#DownloadText {
    padding: 10px;
    text-decoration: none;
    border: 1px solid #6591D9;
    border-radius: 5px;
    color: #6591D9;
    display: flex;
    box-shadow: 1px 1px 5px 1px #6591d94b;
    font-size: 0.8rem;
    transition: all 0.2s;
}

#DownloadText:hover{
    color: #010231 !important;
    border:  1px solid #010231 !important; 
    transition: all 0.2s;
    /* background-color: black !important;  */
}

.icondoc {
    padding-top: 0.5px;
    padding-right: 5px;
}

.Description {
    font-size: 0.8rem;
    text-align: left;
    color: rgb(56, 56, 56);
    padding-bottom: 15px;
}

.Author {
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 15px;
}

.Year {
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Status {
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
}

#PersonalBrowser {
    width: 48vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: "Apple";
    min-height: 34px;
    max-height: 44px;
    font-size: 16px;
    height: 7vh;
}

#PersonalBrowser:focus {
    outline: none;
}

#BrowserContainer {
    font-family: "Apple";
    width: 70vw;
    margin-left:15vw;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
}

#ZoomIcon {
    color: rgb(9, 9, 9);
    fill: rgb(39, 39, 39);
    cursor: text;
    pointer-events: none;
    margin-left:64vw;
    position: absolute;
}

#SearchInputContainer {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#authorname {
    text-transform: capitalize;
}

#Filters-Container {
    width: 50vw;
    background-color: #FFFFFF;
    display: flex;
    margin-top: 1vh;
}

.Carrers-Filter {
    width: 13vw;
}

.FiltersText {
    border-top-right-radius: 0.4vh;
    border-top-left-radius: 0.4vh;
    background-color: #edededb0;
    border: 0.1vw solid #bababa97;
    font-size: 0.8rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color: #2b3441;
}

#YearsFilter {
    margin-top: 2vh;
}

#Filters {
    width: 18vw;
    background-color: #edededb0;
    font-family: "Apple";
    align-items: center;
    height: 4vh;
    align-content: center;
    justify-content: center;
}

#Carrers-Section-Text {
    font-size: 14px;
    width: 18vw;
    height: 6vh;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: rgba(0, 0, 0, 0.144) solid 0.1vh;
}

#WaitingContainer {
    width: 50vw;
    background-color: #FFFFFF;
}


.FiltersSection{
    display: flex;
    justify-content: flex-end;
    width: 14vw;
}

#FiltersDisplayMenu{
    width: 14vw;
    height:40px;
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5vh;
    align-items: center;
    

}


#PlusIcon {
    width: 8vw;
    padding-top: 12px;
    padding-bottom: 12px;
    color:#ffffff;
    background-color: #0c195ae8;
    position: relative; /* Necesario para el pseudo-elemento */
    border-bottom: 20px solid #ffffff; /* Color que simula el fondo de la página */
    border-right: 20px solid transparent;
    cursor: grab;

}



#AbsoluteCircle{
    position: absolute;
    width: 75vw;
    display: flex;
    justify-content: center;
    height: 90vh;
    padding-bottom: 10vh;
    overflow: hidden;
    background-color: #2b344100;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    z-index: 99999;
    
}

#CircleContainer{
    height: 90vh;
    overflow: hidden;
    width: 75vw;
    display: flex;
    justify-content: center;
}


#Circle{
    background-color: #010231;
    width: 10vw;
    border-radius: 50%;
    height: 10vw;
    

    /* box-shadow: 6px 0px 20px rgba(6, 1, 58, 0.596); */


}


#FiltersInsideCircleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#FilterTitle{
    margin-top: 3vh;
    margin-left: 6vw;
    font-size: 2rem;
    font-family: "Apple";
    font-weight: 900;
}

.FilterOption{
    margin-left:  6vw;
    font-family: "Apple";
    font-weight: 400;
}

#Switches{
    
    margin-top: 2vh;
    display: flex;
}

#YearSubtitle{
    font-weight: 600;
    font-family: "Apple";
}

#SliderContainer{
    width: 69vw;
    margin-top: 3vh;
    align-items: center;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Range{
    display: flex;
    margin-top: 1vh;
    align-items: center;

}

#TextInRange{
}

#RealSlider{
    margin-left: 0.5vw;
    color: rgb(41, 41, 41);
    width: 31vw;
}

#Explanaition{
    margin-left: 4vw;
    font-family: "Apple";
}

.CarrerButtom{
    border-radius: 1vh;
    border: 0.1vh solid rgba(177, 176, 176, 0.589);
    cursor: pointer;
    margin: 1vh;
    user-select: none;
    padding: 1vh;
}
#CarrersGroup{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 0.7rem;
}

.Text{
    font-family: "Apple";
    font-weight: 600;

}

