.ThesisContainer {
    width: 90vw;
    display: grid;
    border-bottom: 1px solid #D7D8DA;
    background-color: rgba(89, 151, 202, 0);
}

@media (min-width:800px){
    .ThesisContainer {
        width: 70vw;
        display: grid;
        border-bottom: 1px solid #D7D8DA;
        background-color: rgba(89, 151, 202, 0);
    }   
}

@font-face {
    font-family: 'Apple';
    src: url('../../fonts/AppleGaramond.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Apple2';
    src: url('../../fonts/HussarBoldCondensed-mmrV.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#FileComponent {
    display: flex;
    justify-content: center;
    font-family: "Apple";
    align-content: center;
    margin-bottom: 4vh;
}

#totaldocumentscontainer {
    padding-top: 20px;
    display: flex;
}

#kind {
    display: flex;
    align-content: center;
    font-size: 0.8rem;
    padding-top: 2vh;
    align-items: center;
    color: #67696E;
}

.Views{
    display: flex;
    align-items: center;
    margin-left: auto;
}

#Eye{
    padding-top: 0.1vh;
    margin-right: 0.5vh;
}

#logo {
    padding-top: 0.05vw;
    color: #FAB73C;
}

.Title {
    display: flex;
    padding-top: 13px;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0.1px 0.1px black;
    text-align: left;
    padding-bottom: 10px;
}

.DownloadButton {
    display: flex;
    margin-top: auto;
    text-decoration: none;
    color: #6591D9;
    padding-bottom: 14px;
    font-size: 0.8rem;
}

.DownloadButton:hover{
    color:#000000
}

#DownloadText {
    padding: 10px;
    text-decoration: none;
    border: 1px solid #6591D9;
    border-radius: 5px;
    color: #6591D9;
    display: flex;
    box-shadow: 1px 1px 5px 1px #6591d94b;
    font-size: 0.8rem;
    transition: all 0.2s;
}

#DownloadText:hover{
    color: #010231 !important;
    border:  1px solid #010231 !important; 
    transition: all 0.2s;
    /* background-color: black !important;  */
}

.icondoc {
    padding-top: 0.5px;
    padding-right: 5px;
}
.inputwrapper{
    width: 90vw;
}

.Description {
    font-size: 0.8rem;
    text-align: left;
    color: rgb(56, 56, 56);
    padding-bottom: 15px;
}

.Author {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 15px;
}

.Year {
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Status {
    display: flex;
    font-size: 0.8rem;
    padding-top: 5px;
}

#PersonalBrowser {
    width: 48vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: "Apple";
    min-height: 34px;
    max-height: 44px;
    font-size: 16px;
    height: 7vh;
}

#PersonalBrowser:focus {
    outline: none;
}

#BrowserContainer {
    font-family: "Apple";
    width: 80vw;
    margin-left:10vw;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
}

#ZoomIcon {
    display: none;
}

@media(min-width:800px){
    #ZoomIcon{
        display: flex;
        color: rgb(9, 9, 9);
        fill: rgb(39, 39, 39);
        cursor: text;
        pointer-events: none;
        margin-left:54vw;
        position: absolute;
    }
}



#FilterButtom{
    display: flex;
    width: 13vw;
    margin-left: 12px;
    margin-top: 2px;
    height: 6.5vh;
    background-color: rgba(0, 0, 0, 0.042);
    border: 1px solid #100354;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px #100354;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 32px;
    max-height: 40px;
}

#SearchInputContainer {
    position: relative;
    display: flex;
    align-content: center;
    justify-content:flex-start;
    align-items: center;
    
}

@media (min-width:800px) {
    #FilterButtom{
        display: flex;
        width: 8vw;
    }
}



@media (min-width:800px) {
    #SearchInputContainer {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        margin-left:20vw;
        width: 90vw;
    }

}

#authorname {
    text-transform: capitalize;
}

#Filters-Container {
    width: 50vw;
    background-color: #FFFFFF;
    display: flex;
    margin-top: 1vh;
}

.Carrers-Filter {
    width: 13vw;
}

.FiltersText {
    border-top-right-radius: 0.4vh;
    border-top-left-radius: 0.4vh;
    background-color: #edededb0;
    border: 0.1vw solid #bababa97;
    font-size: 0.8rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color: #2b3441;
}

#YearsFilter {
    margin-top: 2vh;
}

#Filters {
    width: 18vw;
    background-color: #edededb0;
    font-family: "Apple";
    align-items: center;
    height: 4vh;
    align-content: center;
    justify-content: center;
}

#Carrers-Section-Text {
    font-size: 14px;
    width: 18vw;
    height: 6vh;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: rgba(0, 0, 0, 0.144) solid 0.1vh;
}

#WaitingContainer {
    width: 50vw;
    background-color: #FFFFFF;
}

.FiltersSection{
    display: flex;
    justify-content: flex-end;
    width: 14vw;
}

#FiltersDisplayMenu{
    width: 50px;
    height:55px;
    display: flex;
    margin-right: 5px;
    justify-content: flex-end;
    background-color: #0c195a;
    position: fixed;
    align-items: center;
    z-index: 99998;
    top: 35px;
    cursor: pointer;
    box-shadow: 5px 7px 10px #041ca7;
    clip-path: polygon(
        0% 0%, 100% 0%, 
        100% 100%, 95% 100%, 
        50% 80%, 5% 100%, 
        0% 100%
    );

    display: none;

}

@media (min-width:800px){
    #FiltersDisplayMenu{
        width: 50px;
        height:90px;
        display: flex;
        justify-content: flex-end;
        background-color: #0c195a;
        position: fixed;
        align-items: center;
        z-index: 99998;
        top: 10vh;
        cursor: pointer;
        /* box-shadow: 10px 5px 7px 10px #000000; */
        clip-path: polygon(
            0% 0%, 100% 0%, 
            100% 100%, 95% 100%, 
            50% 80%, 5% 100%, 
            0% 100%
        );
    }
}

#FilterIcon{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    left: 17px;
}

@media (min-width:800px){
    #FilterIcon{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 30px;
        left: 17px;
    }
}

@keyframes backgroundTransition {
    0% {
        background-color: black;
    }
    100% {
        background-color: #0c195ae8;
    }
}

#PlusIcon {
    width: 8vw;
    padding-top: 12px;
    padding-bottom: 12px;
    color:#ffffff;
    background-color: #0c195ae8;
    position: relative; /* Necesario para el pseudo-elemento */
    border-bottom: 20px solid #ffffff; /* Color que simula el fondo de la página */
    border-right: 20px solid transparent;
    cursor: grab;
    animation: backgroundTransition 0.5s ease-in-out forwards;
}

#AbsoluteCircle{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #2b344100;

    z-index: 99999;
}

#CircleContainer{
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#Circle{
    background-color: #010231;
    width: 10vw;
    border-radius: 50%;
    height: 10vw;
    /* box-shadow: 6px 0px 20px rgba(6, 1, 58, 0.596); */
}



#FilterTitle{
    /* margin-top: 3vh; */
    margin-left: 6vw;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 90vw;
    font-family: "Apple";
    font-weight: 900;
    text-shadow: 1px 1px 1px #000000;
    user-select: none;
    padding-top:0vh;
}

.FilterOption{
    font-family: "Apple";
    font-weight: 400;
    display: grid;
}

#Switches{
    margin-top: 2vh;
    display: grid;
    width: 100vw;
    /* margin-left: 6vw; */
    justify-items: center;
    margin-right: 6vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#YearSubtitle{
    font-weight: 600;
    width: 90vw;

    margin-left: 2vw;
    font-family: "Apple";
    display: flex;
    justify-content: center;

}



#Range{
    display: flex;
    justify-content: center;
    width: 95vw;
    margin-top: 1vh;
    align-items: center;
}

#TextInRange{
}

#RealSlider{
    margin-left: 0.5vw;
    color: rgb(41, 41, 41);
    width: 80vw;
}

#Explanaition{
    margin-left: 4vw;
    font-family: "Apple";
}

.CarrerButtom{
    border-radius: 1vh;
    border: 0.1vh solid rgba(177, 176, 176, 0.589);
    cursor: pointer;
    margin: 1vh;
    user-select: none;
    padding: 1vh;
}

#CarrersGroup{
    margin-top: 2vh;
    display: grid;
    width: 94vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 8px;
}

.Text{
    font-family: "Apple";
    font-weight: 600;
}

@media (max-width:800px){
    #totaldocumentscontainer{
        padding-top: 20px;
    }
}