#MobileFilters{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(215, 215, 215, 0.444);
    z-index: 999998;
}


#Ball {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#FiltersInsideCircleContainer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
}
#SliderContainer{
    width: 63vw;
    margin-top: 3vh;
    align-items: center;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 94vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#BallInner{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#HiX{
    /* pegarlo a la derecha del todo */
    margin-left: auto;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 30px;
    margin-top: 3vh;
    margin-bottom:0vh;
    
}

#FilterAndXContainer{
    display: flex;
    margin-top: 10px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    
}

#AuthorInputContainer{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    margin-left: 5vw;
    font-family: "Apple";
}

#authorfield{
    margin-bottom: 0.4vh;
    font-weight: bold;

}

#AuthorInput{
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.781);
    padding-left: 10px;
    font-size: 1.2rem;
}