.relative {
    position: relative;
  }
  
  .input-wrapper {
    /* width: 20rem; */
    /* background-color: wheat; */
  }
  
  .base-input {
    /* height: 3rem; */
    /* width: 100%; */
    width: 64vw;
    min-height: 34px;
    max-height: 44px;
    font-size: 1rem;
    font-family: "Apple";
    height: 7vh;
    padding-left: 1vw;
    padding-right: 5vw;
    padding-top:3px;
    cursor: default;
    border-radius: 0.4vh;
    border: 3px outset #bababa97;
    background-color: #edededb0;
    cursor: text;
    /* padding: 0.875rem; */
    color: #01274f;
    transition: border-color 0.5s;
    outline: none;
  }
  
  .base-input:focus {
    border-color: #01274f;
  }
  
  .base-input::placeholder {
    color: #718096;
    user-select: none;
  }
  
  .overlay-input {
    pointer-events: none;
    width: 68vw;
    min-height: 34px;
    max-height: 44px;
    padding-top: 3px;
    height: 7vh;    
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: default;
    border-radius: 0.4vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    border:3px outset #040a47 !important;

    cursor: default;
    background-color: transparent;
    /* padding: 0.875rem; */
    opacity: 0;
    transition: opacity 0.5s;
  }



  @media ( min-width:800px){
    .base-input {
      width: 54vw;
    }
    .overlay-input {
      width: 58vw;
    }
  }