#SideMenu2-Container{
    z-index: 99999;
    width: 10vw;
    bottom: 0;
    height: 70px;
    background-color: #0d0049;
    position: fixed;

    box-shadow: 0 0px 2vh 5px #0f014d8e;

    /* border-top-right-radius: 3px;
    border-radius: 3px;
    border-bottom-right-radius: 3px; */
    /* box-shadow: inset 0 0 2vh #060029; */

    /* border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh; */
}

.item{
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}
#Icon{
    padding: 0;
    
    outline: none !important;
    z-index: 999;
    user-select: none;

}



#Menu-items{
    width: 100%;
    height: 100%;
    border-top-right-radius: 0vh;
    justify-items: start;
    border-bottom-right-radius: 0vh;
    background-color: #ffffff00;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: start;
    align-items: center;
    
}

#CircleMark{
    position: fixed;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-bottom: 34px;
    bottom: 0;
    border: 6px solid white;
    border-radius: 100%;
    background-color: #0b0049;
    z-index: 98;

}

#Icon{
    width: 20px;
    padding-left: 7px;
    height: 60px;
  }




.item{
    width: 50px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;
    outline: none;
    display: flex;
    justify-content: center;
    cursor: pointer;

}


@media (min-width:800px) {
    #SideMenu2-Container{
        z-index: 99999;
        width: 90vw;
        margin-top: 0vh;
        height: 100vh;
        background-color: #0d0049;
        position: absolute;
        border-radius: 0px;
        /* box-shadow: inset 0 0 2vh #040015; */
        box-shadow: 0 3px 1.4vh 5px #0f014d7a;
        /* border-top-left-radius: 2vh;
        border-bottom-left-radius: 2vh; */
    }
    
#Menu-items{
        width: 100%;
        height: 100%;
        border-top-right-radius: 0vh;
        grid-template-columns: 1fr;
        border-bottom-right-radius: 0vh;
        background-color: rgba(255, 255, 255, 0);
        display: grid;
        justify-content: start;
        align-items: center;
        
    }
    .item{
        border: 0px;
        margin: 0px;
        padding: 0px;
        user-select: none;
        outline: none;
        display: flex;
        width: 100%;
        cursor: pointer;   
        height: 100%;
        justify-content: center;
        
        align-items: center;
        border-top-right-radius: 1.4vh;
        border-bottom-right-radius: 2vh;
        outline: none !important;
        background-color: rgba(24, 74, 239, 0);
    }
    
    .item:focus{
        outline: none !important;
      
    }
    
    #Icon{
        padding: 0;
        
        outline: none !important;
        z-index: 999;

    }

    .item-group{
        display: flex;
        outline: 0px;
        
        font-family: "Apple";
        font-size: 1.3vw;
    }
    .unactive{
        display: none;
    }
}


@media (min-width:800px){
    .Text{
        margin-top: 0.4vh;
        margin-left: 1.5vw;
        display: none;
        align-items: center;
    }

    .TextActive{
        display: flex;
    }
}

@media (max-width:800px) {
    .Text{
        margin-top: 0.4vh;
        margin-left: 6vw;
        display: none;
    }

    #Icon{
        display: none;

    }
    
    .IconActive{
        display: flex !important;
    }

}



@media (min-width:800px){

}


