@font-face {
    font-family: 'Apple';
    src: url('../../fonts/Catrinity.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
.MainContainer{
    width: 100vw;
    height: 100vh;
    /* margin-bottom: 30vh; */
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    

}

.Uploading{
    position: absolute;
}

.MyFilesContainer{
    width: 80vw;
    font-family: "Apple";
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 4vh;
    
}

.CreateNewFile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    background-color: rgb(241, 241, 241);
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: 0.1vh 0.1vh 0.9vh 0.1vh rgba(0, 0, 0, 0.515);

}

#CreateNewText{
    display: flex;
    margin-left: 5vw;
    justify-content: center;
    transform: translateY(0.2vh);
    user-select: none;
}

@media (min-width:800px){
    .CreateNewFile{
        width: 70vw;
        display: grid;
        
    }
}

.AddButton{
    width: 10vw;
    display: flex;
    transform: translateY(-0.3vh);
    align-items: center;
    /* background-color: rgba(220, 220, 220, 0.611); */


}

.Proyects{
    margin-bottom: 0.5vh;
    font-family: "Apple";
    display: flex;
    user-select: none;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#NewFileText{
    margin-left:20px;
}