.NewFileContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.189);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

.FileBlock{
    display: flex;
    width: 93vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0.1vh 0.1vh 1.8vh 0.1vh rgba(0, 0, 0, 0.482);
    justify-content: center;

}


#AllfieldsContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#SelectB{
    width: 50vw;
    margin-bottom: 4vh;
}
#Slider{
    width: 50vw;
}


.CarrerField{
    height: 5vh;
    margin-top: 2vh;
    width: 55vw;
    
    background-color: #EFEFEF;  
    border: 0px;

}