/* Definición de colores */
:root {
  --color1: #282c34; /* Fondo de App-header */
  --color2: #61dafb; /* Enlaces */
  --color3: #ffffff; /* Fondo de html y body */
  --color4: #273475; /* Fondo de navbar */
  --color5: #c0caf7e0; /* Color del icono en el navbar */
}


@font-face {
  font-family: 'BabyPanda';
  src: url('./fonts/Baby Panda.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Runtoe';
  src: url('./fonts/Runtoe.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--color2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  align-items: center;
  align-content: center;
  overflow: visible;
}

html {
  background-color: var(--color3);
  width: 100%;
}

#body {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color3);
}

#BasicGroup{
  height: auto;

}

#SideBar{
  position: absolute;
  width: 13%;
  height: 100%;
  background-color: var(--color4);
}

#navbar {
  width: 100%;
  background-color: var(--color4);
  height: 64px;
  position: absolute;
  display: flex;
  align-items: center;
  box-shadow: #031038 1px 0px 3px 3px ;
  overflow: hidden;
  z-index: 99;
}

#icon {
  margin-left: 20px;
  height: 50px;
  width: 30px;
  min-width: 30px;
  color: var(--color5);
  cursor: crosshair;
}


#navtext{
  font-family: "Runtoe";
  font-size: 1.2rem;
  /* text-shadow: #000 1px 1px 1px ; */
  margin: 0px;  
  color: rgba(244, 250, 252, 0.986);
  
}

#navtext2{
  font-family: "Runtoe";
  margin: 0px;
  font-size: 1.2rem;
  /* text-shadow: #000 1px 1px 1px ; */
  
  color: white;
}
#logott{
  /* padding-top: 7px; */
  width: 100px;
  user-select: none;
  padding-left: 2vw;
}

#logout{
  color: var(--color4);
  text-decoration: none;
}


#navtextcontainer{
  padding-left: 20px;
  display: flex;
  user-select: none;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}


#logounipaz{
  object-fit: cover;
  height: 64px;
  color: white;
  padding-left:20px ;
  user-select: none;

  @media (max-width:600px){
    display: none;
    
  }

}

#navbariconbutton{
  background-color: #00000000;
  border: 0px;
}

#profilepic{
  margin-left: auto;
  height: 56px;
  margin-right: 20px;
  user-select: none;
}

#ProfileComponent{
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: start;
  
  margin-top: 100px;
  margin-left: 24vw;
  margin-bottom: 30px;
}

.ProfCardItem{
  width: 25vw;
  font-size: 18px;
  color: black;
}



#ProfileContainer{
  
  background-color: #53535383;
  overflow: hidden;
  display: grid;
  font-size: 2vw;
  width: 25vw;
  border-radius: 0.8vw;
  padding-bottom: 20px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.336);
  color: white;



}


@media (max-width:600px){
  #ProfileContainer{
    width: 90vw;

  } 
  
  .ProfCardItem{
    width: 70vw;
  }
  

  #ProfileMenuPic{
    width: 20vw !important;
    
  }
  
}

#ProfileContainer >*{

}


#LoginContainer{
  margin-top: 100px;
}

#ProfileMenuPic{
  width: 7vw;

}

#profpicdiv{
  /* width: 25vw; */
}