@font-face {
  font-family: 'Apple';
  src: url('../../fonts/AppleGaramond.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


#profilepic{
    margin-left: auto;
    height: 16px;
    margin-right: 20px;
    user-select: none;
  }



#ProfileComponent{
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: start;
  font-family: "Apple";
  margin-top: 16vh;
  margin-left: 24vw;
  height: 80vh;
  
}

.ProfCardItem{
  width: 25vw;
  font-size: 2.3vh;
  color: rgb(28, 2, 61);
}

#XpBar{
  display: flex;
  width: 35vw;
  height: 20vh;
  font-size: 2.3vh;
  flex-direction: column;
  padding-left: 5vw;
}

.XP{
  width: 35vw;
  padding-top: 1vh;
  height: 4vh;
  font-size: 2.3vh;
}

#XpText1{
  display: flex;
}

#ProfileContainer{
  
  background-color: #edebeb83;
  overflow: hidden;
  
  display: grid;

  width: 25vw;
  border-radius: 0.8vw;
  padding-bottom: 5vh;
  padding-top: 0px;
  box-shadow: 0px 0px 0.5vh 0.2vh rgba(0, 0, 0, 0.211);
  color: white;
  height: 70vh;



}

#logout{
  cursor: pointer;
}


.LateralSection{
  display: flex;
  width:40vw;
  height: 80vh;
}


/* #ProfileContainer >*{

} */


#LoginContainer{
  margin-top: 100px;
}

#ProfileMenuPic{
  width: 5.2vw;

}

#profpicdiv{
  /* width: 25vw; */
  user-select: none;

}

