@font-face {
  font-family: 'Apple';
  src: url('../../fonts/AppleGaramond.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


#profilepic{
    margin-left: auto;
    height: 16px;
    margin-right: 20px;
    user-select: none;
  }



#ProfileComponent{
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: start;
  font-family: "Apple";
  margin-top: 100px;
  margin-left: 24vw;
  margin-bottom: 30px;
}

.ProfCardItem{
  width: 25vw;
  font-size: 18px;
  color: rgb(28, 2, 61);
}



#ProfileContainer{
  
  background-color: #edebeb83;
  overflow: hidden;
  
  display: grid;
  font-size: 2vw;
  width: 25vw;
  border-radius: 0.8vw;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.211);
  color: white;



}

#logout{
  cursor: pointer;
}


@media (max-width:680px){
  #ProfileContainer{
    width: 70vw;


  } 
  
  #ProfileComponent{
    width: 100vw;
    margin-left: 0px;
    justify-content: center;
  }


  .ProfCardItem{
    width: 70vw;
  }
  

  #ProfileMenuPic{
    width: 15vw !important;
    
  }
  
}

/* #ProfileContainer >*{

} */


#LoginContainer{
  margin-top: 100px;
}

#ProfileMenuPic{
  width: 5.2vw;

}

#profpicdiv{
  /* width: 25vw; */
  user-select: none;

}