@font-face {
  font-family: 'Runtoe';
  src: url('../../fonts/Runtoe.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.MobileCheck{
    display: flex;
    z-index: 999;
    position: absolute;
    width: 50vw;
    height: 90px;
    margin-left: 10vw;
    
}


#StadisticsComponent {  
    scroll-snap-type: y mandatory; /* Ajuste vertical obligatorio */
    overflow-y: scroll; /* Scroll vertical */
    height: 100vh; /* Cada sección llena la pantalla */
    overflow-x: hidden;
    /* margin-top: 12vh; */
}
    
.StadisticItem {
    scroll-snap-align: start; /* Ajusta cada sección al inicio del viewport */
    height: 97vh;
    padding-top: 3vh; /* Cada sección ocupa una vista completa */
    width: 100vw; /* Para que llene el ancho de la pantalla */
    display: flex;
    margin-left:0px;
    align-items: flex-start;
    justify-content: center;

}

.echarts-for-react{
    width:100vw !important;
}
#p{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:800px){
    #StadisticsComponent {  
        scroll-snap-type: y mandatory; /* Ajuste vertical obligatorio */
        overflow-y: scroll; /* Scroll vertical */
        height: 100vh; /* Cada sección llena la pantalla */
        overflow-x: hidden;
        /* margin-top: 12vh; */
    }


    
    .StadisticItem {
        scroll-snap-align: start; /* Ajusta cada sección al inicio del viewport */
        height: 100vh; /* Cada sección ocupa una vista completa */
        width: 90vw; /* Para que llene el ancho de la pantalla */
        display: flex;
        margin-left: 15vw;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    
    #Cake{
        
    }
    
    #TimeLapse{
        margin-left: 5vw;
        /* padding-top: 16vh; */
    }
    
    #GraphTitle{
        /* margin-bottom: 6vh; */
        align-items: center;
        width: 80vw;
        padding-right: 10vw;
        font-family: "Runtoe";
    }
    #p{
        width: fit-content;
        border-bottom: 0.2vh solid black;
    }
    
    
    #Combination{
        margin-left: 10vw;
        
    }
    
    #Pages{
        margin-left: 10vw;
    }
    
    
}
