#StadisticsComponent{
    width: 100vw;
    margin-left: 0vw;
    margin-top: 10vh;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-content: center;
}

.StadisticItem{
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 10vh;
    
}

#TimeLapse{
    margin-left: 5vw;
}